[submodule "mods/civmisc"]
	path = mods/civmisc
	url = https://github.com/CivtestGame/CivMisc.git
    branch = master
[submodule "mods/combattag"]
	path = mods/combattag
	url = https://github.com/CivtestGame/CombatTagMT.git
	branch = master
[submodule "mods/civindustry"]
	path = mods/civindustry
	url = https://github.com/CivtestGame/CivIndustry.git
    branch = master
[submodule "mods/civtobacco"]
	path = mods/civtobacco
	url = https://github.com/CivtestGame/CivTobacco.git
    branch = master
[submodule "mods/civtobacco"]
	path = mods/civtobacco
	url = https://github.com/CivtestGame/CivTobacco.git
    branch = master
[submodule "mods/civ_3d_armor"]
	path = mods/civ_3d_armor
	url = https://github.com/CivtestGame/CivCiv-32_armor.git
    branch = master
[submodule "mods/bookpress"]
	path = mods/bookpress
	url = https://github.com/CivtestGame/bookpress.git
    branch = master
[submodule "mods/hbhunger"]
	path = mods/hbhunger
	url = https://github.com/CivtestGame/civtest_hbhunger.git
    branch = master
[submodule "mods/mobs_animal"]
	path = mods/mobs_animal
	url = https://github.com/CivtestGame/mobs_animal.git
    branch = master
[submodule "mods/mobs_redo"]
	path = mods/mobs_redo
	url = https://github.com/CivtestGame/mobs_redo.git
    branch = master
[submodule "mods/prisonpearl"]
	path = mods/prisonpearl
	url = https://github.com/CivtestGame/PrisonPearlLua.git
    branch = master
[submodule "mods/xdecor"]
	path = mods/xdecor
	url = https://github.com/CivtestGame/xdecor.git
    branch = master
[submodule "mods/fancy_vend"]
	path = mods/fancy_vend
	url = https://github.com/CivtestGame/fancy_vend.git
    branch = master
[submodule "mods/simplecrafting_lib"]
	path = mods/simplecrafting_lib
	url = https://github.com/CivtestGame/simplecrafting_lib.git
    branch = master
[submodule "mods/pmutils"]
	path = mods/pmutils
	url = https://github.com/CivtestGame/PMUtils.git
    branch = master
[submodule "mods/civchat"]
	path = mods/civchat
	url = https://github.com/CivtestGame/CivChat.git
    branch = master
